.dropdown {
  position: absolute;
  top: -14px;
  right: 0;
  background-color: #0f0e15;
  border: 1px solid #282532;
  border-radius: 3px;
  padding: 0.875rem;
  min-width: 14.125rem;
}

.dropdownOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.optionLabel {
  color: #858196;
  font-size: 14px;
  line-height: 22px;
  margin-left: 0.375rem;
}
