* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", "sans-serif";
  overflow-x: hidden;
  background-color: #181621;
  color: #fff
}


